<template>
  <section id = "header-route" class="content">
    <div class="row">
      <div class="col-md-12">
        <modal name="dialog"
          :width="'60%'"
          :height="'30%'">
          <div class='content'>
            <div class='row'>
              <div class='col-sm-3'></div>
              <div class='col-sm-6'>
                <center><h2 style = 'posi'>{{ payload_delete }}</h2></center>
              </div>
              <div class='col-sm-3'></div>
            </div>
            <div class='row'>
              <div class='col-sm-6'>
                <button class='btn btn-info' style = 'width: 100%;' @click="hide">close</button>
              </div>
              <div class='col-sm-6'>
                <button class='btn btn-danger' @click="confirm_delete_api" style = 'width: 100%;'>Confirm</button>
              </div>
            </div>
          </div>
        </modal> 
        <!-- <v-dialog /> -->

        <div :class="'box box-' + box_class_name.name">
          <div class="box-header with-border">
            <h3 class="box-title">{{ text_action }} <small> {{ device_id }} </small></h3>
          </div>
          <div class="box-body">
            <div class='row'>
                <div class='col-sm-3'></div>
              <div class='col-sm-3'>
                  <h3>Device ID.</h3>
                  <input class="form-control" style = 'border-radius: 4px;' :disabled=var_disabled autocomplete="off" v-model="device_id" placeholder="Enter Device ID" type="text">
                  <h3>Device Name</h3>
                  <div class="form-group has-info">
                      <input class="form-control" style = 'border-radius: 4px;' autocomplete="off" v-model="device_name" placeholder="Enter Device Name" type="text">
                  </div> 
                  <h3>Station Name</h3>
                  <div class="form-group has-info">
                      <input class="form-control" style = 'border-radius: 4px;' autocomplete="off" v-model="station_name" placeholder="Enter Station Name" type="text">
                  </div> 
              </div>
              <div class='col-sm-3'>
                  <h3>Detail</h3>
                  <div class="form-group has-info">
                      <textarea class="form-control" style = 'border-radius: 4px;' v-model="detail" placeholder="Enter Detail Device"></textarea>
                      <br/>
                  </div> 
                  <div class='row'>
                    <div :class='"col-sm-" + update_device_status.col'>
                      <div class="form-group has-info">
                        <button @click="doCall_insert_device" :class='"form-control btn btn-" + box_class_name.name' type = 'button'> {{ box_class_name.text }} </button>
                      </div>
                    </div>
                    <div v-if=update_device_status.status :class='"col-sm-6"'>
                      <button v-if=update_device_status.status @click="show_modal" class="form-control btn btn-danger" type = 'button'> Delete </button><br><br>
                    </div>
                    <div class='col-sm-12'>
                      <button @click="exit_update" class="form-control btn btn-default" type = 'button'> Back </button>
                    </div>
                    <div class='row'>
                      <div class='col-sm-12'>
                        <center><b><small class = 'text-red'> {{message_for_user}} </small></b></center>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <hr>
            <div class='row'>
              <div class="col-sm-12 table-responsive">
                <table aria-describedby="example1_info" role="grid" id="example1" class="table table-bordered table-striped dataTable">
                  <thead>
                    <tr role="row">
                      <th aria-label="#: activate to sort column descending" aria-sort="ascending" style="width: 30px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting_asc">#</th>
                      <th aria-label="DEVICE ID: activate to sort column ascending" style="width: 100px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">DEVICE ID</th>
                      <th aria-label="DEVICE NAME: activate to sort column ascending" style="width: 100px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">DEVICE NAME</th>
                      <th aria-label="STATION: activate to sort column ascending" style="width: 142px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">STATION</th>
                      <th aria-label="DETAIL: activate to sort column ascending" style="width: 101px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">DETAIL</th>
                      <!-- <th aria-label="MANAGE: activate to sort column ascending" style="width: 101px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">MANAGE</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for='(obj, index) in dDataE' :key='obj.device_id' class="hover-table-row" role="row" @click="deventClick_choose($event,index)">
                      <td class="sorting_1">{{ index + 1}}</td>
                      <td>{{ obj.device_id }}</td>
                      <td>{{ obj.device_name}}</td>
                      <td>{{ obj.station_name }}</td>
                      <td>{{ obj.detail }}</td>
                      <!-- <td> <button class='btn btn-success' @click="deventClick_choose($event,index)"> Choose Device </button> </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>
</template>

<script>
// api
import device from '@/apis/Devices/device'
import dataDevice_ from '@/apis/device.json'
import datepicker from 'vue-date-picker'

// datatables
import $ from 'jquery'
require('datatables.net')
require('datatables.net-bs')

export default {
  name: 'AddDevice',
  components: {
    datepicker
  },
  data () {
    return {
      urlLink: 'http://thingboard.iotdma.info/',
      dDataE: (dataDevice_),
      isAddDevice: false,
      text_action: 'Enroll Device',
      device_name: '',
      device_id: '',
      station_name: '',
      detail: '',
      update_device_status: {
        status: false,
        col: 12
      },
      box_class_name: {
        name: 'info',
        text: 'SAVE'
        // danger for delete
        // warning for update
        // default
      },
      var_disabled: false,
      payload_delete: 'Confirm Delete Device',
      message_for_user: ''
    }
  },
  computed: {
    // appenddDataE () {
    //   // this.dDataE.device_name.push('--- Insert Device ---')
    // }
  },
  mounted() {
    this.render_load()
  },
  methods: {
    show_modal () {
      this.$modal.show('dialog', {
        // title: 'Alert!',
        // text: 'You are too awesome<br>You are too awesome<br>You are too awesome<br>You are too awesome<br>You are too awesome<br>',
        buttons: [
          {
            title: 'Confirm',
            handler: () => {
              console.log('confirm')
            }
          },
          {
            title: 'Close'
          }
        ]
      })
    },
    hide () {
      this.$modal.hide('dialog')
    },
    async confirm_delete_api () {
      const response = await device.delete({primary_key: this.device_id}, {
        headers: {
          Authorization: (window.localStorage.getItem('token') || '')
        },
        data: {
          primary_key: this.device_id
        }
      })
      if (response.status === 200 && response.data.status) {
        this.payload_delete = response.data.mes
        this.$modal.hide('dialog')
        this.$router.go(0)
        // this.update_table()
        // this.exit_update()
      }
    },
    async update_table () {
      const response = await device.find(null, {
        headers: {
          'Authorization': (window.localStorage.getItem('token') || '')
        }
      })
      // this.dDataE = response.data.device
      this.$set('dDataE', response.data.device)
      this.$nextTick(() => {
        $('#example1').DataTable({'lengthMenu': [[5, 10, 50, -1], [5, 10, 50, 'All']]})
      })
    },
    async render_load () {
      console.log((window.localStorage.getItem('token') || ''))
      const response = await device.find(null, {
        headers: {
          'Authorization': (window.localStorage.getItem('token') || '')
        }
      })
      this.dDataE = response.data.device
      console.log(this.dDataE)
      this.$nextTick(() => {
        $('#example1').DataTable({'lengthMenu': [[5, 10, 50, -1], [5, 10, 50, 'All']]})
      })
      // $('#table_body_append').append(str)
    },
    exit_update () {
      this.update_device_status.col = '12'
      this.update_device_status.status = false

      this.device_id = ''
      this.device_name = ''
      this.station_name = ''
      this.detail = ''
      this.box_class_name.name = 'info'
      this.box_class_name.text = 'SAVE'
      this.text_action = 'Enroll Device'
      this.var_disabled = false
    },
    deventClick_choose (event, index) {
      this.message_for_user = ''
      console.log(this.dDataE[index])
      this.device_id = this.dDataE[index].device_id
      this.device_name = this.dDataE[index].device_name
      this.station_name = this.dDataE[index].station_name
      this.detail = this.dDataE[index].detail
      this.box_class_name.name = 'warning'
      this.box_class_name.text = 'UPDATE'
      this.text_action = 'Manage Device'
      this.update_device_status.col = '6'
      this.update_device_status.status = true
      this.var_disabled = true
      window.scrollTo({
        top: 0,
        left: 0,
        behavior: 'smooth'
      })
    },
    eventTextBoxInput (event) {
      console.log(event.target.value)
    },
    async doCall_insert_device () {
      if (!this.update_device_status.status) {
        // save device
        if (this.device_id === '') {
          this.message_for_user = 'Plases input device id.'
        } else {
          const response = await device.save({
            'device_id': this.device_id,
            'detail': this.detail,
            'device_name': this.device_name,
            'station_name': this.station_name
          }, {
            headers: {
              'Authorization': (window.localStorage.getItem('token') || '')
            }
          })
          if (response.data.status) {
            this.$router.go(0)
          } else {
            this.message_for_user = response.data.mes
          }
          // this.$router.go(0)
          // console.log(response)
          // this.update_table()
        }
      } else {
        // update device
        const response = await device.update({
          headers: {
            'Authorization': (window.localStorage.getItem('token') || '')
          }
        }, {
          'primary_key': this.device_id,
          'update': {
            'device_name': this.device_name,
            'detail': this.detail,
            'station_name': this.station_name
          }
        })
        console.log(response)
        if (response.status === 200 && response.data.status_insert) {
          // this.update_table()
          this.$router.go(0)
        }
      }
    },
    eventChangeDevice(event) {
      console.log(event.target.value)
      if (event.target.value === '--- Insert Device ---') {
        this.isAddDevice = false
        console.log('ture')
      } else {
        this.isAddDevice = true
        console.log('false')
      }
    }
  }
}
</script>
<style>
  .info-box {
    cursor: pointer;
  }
  .info-box-content {
    text-align: center;
    vertical-align: middle;
    display: inherit;
  }
  .fullCanvas {
    width: 100%;
  }
  .select-content-sidemenu{
    height: 50px;
    font-size: 24px;
    text-align: center;
  }
  .label-content-sidemenu{
    height: 20px;
    /* font-size: 20px; */
    text-align: center;
  }
  .box-info{
    border-color: #166a99 !important;
  }
  .border-insert-device{
    margin-top: 30px;
    border: solid 2px #166a99;
    border-radius: 4px;
  }
</style>
<style scoped>
    .hover-table-row:hover {
      background-color: #4da7da;
      cursor: pointer;
    }
    .box-title{
        font-size: 2em;
    }
    @import url('/static/js/plugins/datatables/dataTables.bootstrap.css');

    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_desc:after {
        font-family: 'FontAwesome';
    }

    table.dataTable thead .sorting:after {
        content: '\f0dc';
    }

    table.dataTable thead .sorting_asc:after {
        content: '\f0dd';
    }

    table.dataTable thead .sorting_desc:after {
        content: '\f0de';
    }
</style>
