<template>
  <section id = "header-route" class="content">
    <div class="row" v-if=false>
        <div class="col-md-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title"></h3>
            </div>
            <div class="box-body">
              <div class='row'>
                <div class='col-sm-6'>
                  <!-- select device -->
                  <h3>Select Device</h3>
                  <select class="form-control" @change="eventChangeDevice($event)">
                    <option value="--- Insert Device ---">--- Insert Device ---</option>
                    <option v-for="name in dDataE.device_name" :key='name' :value = "name">{{name}}</option>
                  </select>
                  <h3>Insert URL Thingsboard</h3>
                  <div class="form-group has-info">
                    <!-- <label class="control-label" for="inputSuccess"><i class="fa fa-fw fa-check"></i> Input with success</label> -->
                    <input class="form-control" id="inputSuccess" @change="eventTextBoxInput($event)" placeholder="Enter URL Thingsboard" type="text">
                    <!-- <span class="help-block">Help block with success</span> -->
                    <br>
                    <button @click="doCall_insert_url" class="form-control btn btn-default" type = 'button'> Insert </button>
                  </div>
                  <br />
                </div>
                <!-- <div class='col-sm-6' v-if="isAddDevice"> -->
                <div class='col-sm-6'>
                  <h3>Insert Device</h3>
                  <div class="form-group has-info">
                    <input :disabled="isAddDevice" class="form-control" id="inputSuccess1" placeholder="Enter Device name" type="text">
                    <br>
                    <button :disabled="isAddDevice"  @click="doCall_insert_url1" class="form-control btn btn-default" type = 'button'> Insert </button>
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class='row' v-if=false>
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Data Table With Full Features</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
              <div class="row">
                <div class="col-sm-6">
                  <div id="example1_length" class="dataTables_length">

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 table-responsive">
                  <table aria-describedby="example1_info" role="grid" id="example1" class="table table-bordered table-striped dataTable">
                    <thead>
                      <tr role="row">
                        <th aria-sort="ascending" style="width: 167px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting_asc">#</th>
                        <th style="width: 207px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">DEVICE ID</th>
                        <th style="width: 182px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">DEVICE NAME</th>
                        <th style="width: 142px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">STATION</th>
                        <th style="width: 101px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">DETAIL</th>
                        <th style="width: 101px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">MANAGE</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for='i in 1000' :key='i' class="even" role="row" :value="i">
                        <td class="sorting_1">{{ i }}</td>
                        <td>DEVICE ID</td>
                        <td>DEVICE NAME</td>
                        <td>STATION NAME</td>
                        <td>DETAIL</td>
                        <td> <button class='btn btn-success' @click="eventClick($event,i)"> เลือกอุปกรณ์ </button> </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class='col-md-12'>
        <iframe :src="urlLink" width="100%" height="1000px" style="border: solid 1px #30567f;"></iframe>
      </div>
    </div>
    
  </section>
</template>

<script>

import dataDevice_ from '@/apis/device.json'
import datepicker from 'vue-date-picker'

// datatables
import $ from 'jquery'
require('datatables.net')
require('datatables.net-bs')

export default {
  name: 'Editer',
  components: {
    datepicker
  },
  data () {
    return {
      urlLink: 'http://thingboard.iotdma.info/',
      dDataE: (dataDevice_),
      isAddDevice: false
    }
  },
  computed: {
    // appenddDataE () {
    //   // this.dDataE.device_name.push('--- Insert Device ---')
    // }
  },
  mounted() {
    this.$nextTick(() => {
      $('#example1').DataTable()
    })
  },
  methods: {
    eventClick (event, value) {
      console.log(event)
      console.log(value)
      // this.$router.push('/thingsboardedit#header-route')
      window.scrollTo(0, 0)
    },
    eventTextBoxInput (event) {
      console.log(event.target.value)
    },
    doCall_insert_url () {
      console.log('btn-clicked-insert URL Thingsboard')
    },
    eventChangeDevice(event) {
      console.log(event.target.value)
      if (event.target.value === '--- Insert Device ---') {
        this.isAddDevice = false
        console.log('ture')
      } else {
        this.isAddDevice = true
        console.log('false')
      }
    },
    doCall_insert_url1 () {
      console.log('btn-clicked-insert Device')
    }
  }
}
</script>
<style>
  .info-box {
    cursor: pointer;
  }
  .info-box-content {
    text-align: center;
    vertical-align: middle;
    display: inherit;
  }
  .fullCanvas {
    width: 100%;
  }
  .select-content-sidemenu{
    height: 50px;
    font-size: 24px;
    text-align: center;
  }
  .label-content-sidemenu{
    height: 20px;
    /* font-size: 20px; */
    text-align: center;
  }
  .box-info{
    border-color: #166a99 !important;
  }
  .border-insert-device{
    margin-top: 30px;
    border: solid 2px #166a99;
    border-radius: 4px;
  }
</style>
<style scoped>
  @import url('/static/js/plugins/datatables/dataTables.bootstrap.css');

  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_desc:after {
    font-family: 'FontAwesome';
  }

  table.dataTable thead .sorting:after {
    content: '\f0dc';
  }

  table.dataTable thead .sorting_asc:after {
    content: '\f0dd';
  }

  table.dataTable thead .sorting_desc:after {
    content: '\f0de';
  }
</style>
