<template>
  <section class="content">
    <modal name="dialog"
      :width="'60%'"
      :height="'30%'">
      <div class='content'>
        <div class='row'>
          <div class='col-sm-3'></div>
          <div class='col-sm-6'>
            <center><h2 style = 'posi'>{{ payload_delete }}</h2></center>
          </div>
          <div class='col-sm-3'></div>
        </div>
        <div class='row'>
          <div class='col-sm-6'>
            <button class='btn btn-info' style = 'width: 100%;' @click="hide">close</button>
          </div>
          <div class='col-sm-6'>
            <button class='btn btn-danger' @click="confirm_delete_user" style = 'width: 100%;'>Confirm</button>
          </div>
        </div>
      </div>
    </modal> 
    <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <!-- Input Addons -->
            <div class="box-header with-border">
              <h3 class="box-title"></h3>
            </div>
            <form @submit.prevent="CallApiRegister">
              <div class="box-body">
                <div class='row'>
                  <div class='col-sm-4'></div>
                  <div class='col-sm-4' v-if=isUpdate>
                    <!-- select device -->
                    <h3>Register User</h3>
                    <div class="form-group has-info">
                      Email: <input class="form-control" autocomplete="off" id="inputSuccess" placeholder="Enter Name" type="text" v-model="email" >
                      <br>
                      Username: <input class="form-control" autocomplete="off" id="inputSuccess" placeholder="Enter username" type="text" v-model="username">
                      <br>
                      Password: <input class="form-control" autocomplete="off" id="inputSuccess" placeholder="Enter password" type="password" v-model="password">
                      <br>
                      Confirm password: <b v-bind:class="'conf-' + mess_color">{{response_r}}</b> <input autocomplete="off" v-bind:class="'form-control pass-invalid-' + mess_color" id="inputSuccess" placeholder="Enter Confirm password" type="password" v-model="Cpassword">
                      <br>
                      <button :disabled="this.username === '' || this.password === '' || this.email === '' || this.Cpassword === ''"  class="form-control btn btn-default" type = 'submit'> Register </button>
                      <br>
                      <div v-bind:class="'text-' + mess_color"><p class="vertical-5p lead-26">{{status200}}</p></div>
                    </div>
                    <br />
                  </div>

                  <div class='col-sm-4' v-if=!isUpdate>
                    <!-- select device -->
                    <h3>Manage User</h3>
                    <div class="form-group has-info">
                      Email: <input class="form-control" autocomplete="off" id="inputSuccess" placeholder="Enter Name" type="text" v-model="email" >
                      <br>
                      Username: <input class="form-control" autocomplete="off" id="inputSuccess" placeholder="Enter username" type="text" v-model="username">
                      <br>
                      New Password: <input class="form-control" autocomplete="off" id="inputSuccess" placeholder="Enter password" type="password" v-model="password">
                      <br>
                      <!-- <div class='row'>
                        <div class='col-sm-12'> -->
                          <button class="form-control btn btn-warning" @click="updateUser" type = 'button'> Update </button><br><br>
                        <!-- </div>
                        <br><br>
                        <div class='col-sm-12'> -->
                          <button class="form-control btn btn-danger" @click="deleteUser" type = 'button'> Delete </button><br><br>
                        <!-- </div>
                        <br><br>
                        <div class='col-sm-12'> -->
                          <button @click="back" class="form-control btn btn-default" type = 'button'> Back </button>
                        <!-- </div>
                      </div> -->
                      <br>
                      <center><div v-bind:class="'text-' + mess_color"><p class="vertical-5p lead-26">{{status200}}</p></div></center>
                    </div>
                    <br />
                  </div>



                  <div class='col-sm-4'></div>
                </div>
                <div class='row'>
                  <div class="col-sm-12 table-responsive">
                    <table aria-describedby="table_user_register_info" role="grid" id="table_user_register" class="table table-bordered table-striped dataTable">
                      <thead>
                        <tr role="row">
                          <th aria-label="#: activate to sort column descending" aria-sort="ascending" style="width: 30px;" colspan="1" rowspan="1" aria-controls="table_user_register" tabindex="0" class="sorting_asc">#</th>
                          <th aria-label="USERNAME: activate to sort column ascending" style="width: 100px;" colspan="1" rowspan="1" aria-controls="table_user_register" tabindex="0" class="sorting">USERNAME</th>
                          <th aria-label="EMAIL: activate to sort column ascending" style="width: 100px;" colspan="1" rowspan="1" aria-controls="table_user_register" tabindex="0" class="sorting">EMAIL</th>
                          <th aria-label="TYPE: activate to sort column ascending" style="width: 142px;" colspan="1" rowspan="1" aria-controls="table_user_register" tabindex="0" class="sorting">TYPE</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for='(obj, index) in data' :key='obj._id' class="hover-table-row" role="row" @click="deventClick_choose($event,index,obj)" >
                          <td class="sorting_1">{{ index + 1}}</td>
                          <td >{{ obj.username }}</td>
                          <td >{{ obj.email}}</td>
                          <td >{{ obj.type }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
  </section>
</template>

<script>

import RegisterApi from '@/apis/Login/Register'
// datatables
import $ from 'jquery'
require('datatables.net')
require('datatables.net-bs')

export default {
  name: 'Register',
  components: {
  },
  data () {
    return {
      id: '',
      isUpdate: true,
      data: '',
      username: '',
      password: '',
      type: 'user',
      email: '',
      Cpassword: '',
      response_r: '',
      mess_color: '',
      status200: '',
      payload_delete: ''
    }
  },
  computed: {
  },
  mounted () {
    this.onLoad()
  },
  methods: {
    async confirm_delete_user () {
      const response = await RegisterApi.delete({primary_key: this.device_id}, {
        headers: {
          Authorization: (window.localStorage.getItem('token') || '')
        },
        data: {
          primary_key: this.id
        }
      })
      console.log(response)
      this.$router.go(0)
    },
    hide () {
      this.$modal.hide('dialog')
    },
    async onLoad () {
      const response = await RegisterApi.find({}, {
        headers: {
          'Authorization': (window.localStorage.getItem('token') || '')
        }
      })
      this.data = response.data
      // response.data.forEach(function (item, index, arr) {
      //   arr[index].username = item.username
      // }
      this.$nextTick(() => {
        $('#table_user_register').DataTable({'lengthMenu': [[5, 10, 50, -1], [5, 10, 50, 'All']]})
      })
    },
    back () {
      this.isUpdate = true
      this.username = ''
      this.email = ''
      this.id = ''
    },
    async updateUser () {
      const response = await RegisterApi.update({
        headers: {
          'Authorization': (window.localStorage.getItem('token') || '')
        }
      }, {
        primary_key: this.id,
        user: {
          type: 'user',
          username: this.username,
          password: this.password,
          email: this.email
        }
      })
      console.log(response)
      this.$router.go(0)
    },
    deleteUser () {
      this.$modal.show('dialog', {
        // title: 'Alert!',
        // text: 'You are too awesome<br>You are too awesome<br>You are too awesome<br>You are too awesome<br>You are too awesome<br>',
        buttons: [
          {
            title: 'Confirm',
            handler: () => {
              console.log('confirm')
            }
          },
          {
            title: 'Close'
          }
        ]
      })
    },
    deventClick_choose(evne, index, obj) {
      // console.log(obj)
      this.isUpdate = false
      this.email = obj.email
      this.username = obj.username
      this.id = obj._id
      this.payload_delete = 'Confirm Delete User: ' + this.username
      window.scrollTo({
        top: 0,
        left: 0,
        behavior: 'smooth'
      })
    },
    async CallApiRegister () {
      this.response_r = ''
      if (this.Cpassword === this.password) {
        try {
          const response = await RegisterApi.user({
            user: {
              email: this.email,
              username: this.username,
              password: this.password,
              type: 'user'
            }
          })
          console.log(response)
          if (response.status === 200) {
            // this.status200 = 'Success.'
            // this.mess_color = 'green'
            this.$router.go(0)
          } else {
            this.status200 = 'Unsuccess.'
            this.mess_color = 'red'
          }
        } catch (error) {
          // alert(error)
          this.status200 = 'Unsuccess.'
          this.mess_color = 'red'
        }
      } else {
        this.response_r += '*** invalid confirm password'
        this.mess_color = 'red'
        this.status200 = 'Unsuccess.'
        this.mess_color = 'red'
      }
    }
  }
}
</script>
<style>
  .info-box {
    cursor: pointer;
  }
  .info-box-content {
    text-align: center;
    vertical-align: middle;
    display: inherit;
  }
  .fullCanvas {
    width: 100%;
  }
  .label-content-sidemenu{
    height: 20px;
    /* font-size: 20px; */
    text-align: center;
  }
  .pass-invalid-red {
    border-color: red;
  }
  .pass-invalid-green {
    border-color: green;
  }
  .conf-green {
    color: green;
  }
  .conf-red {
    color: red;
  }
</style>
<style scoped>
    .hover-table-row:hover {
      background-color: #4da7da;
      cursor: pointer;
    }
    .box-title{
        font-size: 2em;
    }
    @import url('/static/js/plugins/datatables/dataTables.bootstrap.css');

    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_desc:after {
        font-family: 'FontAwesome';
    }

    table.dataTable thead .sorting:after {
        content: '\f0dc';
    }

    table.dataTable thead .sorting_asc:after {
        content: '\f0dd';
    }

    table.dataTable thead .sorting_desc:after {
        content: '\f0de';
    }
</style>
