<template>
  <header class="main-header">
    <span class="logo-mini">
      <a href="/"><img src="/static/img/logo.svg" alt="Logo" class="img-responsive center-block logo"></a>
    </span>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
    


      <router-link to="/svgEditer" class="sidebar-toggle" role="button" style = "">
        <!-- <a href="javascript:;" class="sidebar-toggle" role="button" style = "margin-left: 20px;"> -->
          <!-- <span class="sr-only">Toggle navigation</span> --> 
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp; SVG Editer
        <!-- </a> -->
      </router-link>

      <router-link to="/thingsboardmoniter" class="sidebar-toggle" role="button" style = "">
        <!-- <a href="javascript:;" class="sidebar-toggle" role="button" style = ""> -->
          <!-- <span class="sr-only">Toggle navigation</span> --> 
          <i class="fa fa-wpforms" aria-hidden="true"></i> &nbsp; SVG View
        <!-- </a> -->
      </router-link>



      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- <messages-menu></messages-menu>
          <notifications-menu></notifications-menu>
          <tasks-menu></tasks-menu> -->
          <user-menu :user="user"></user-menu>
        </ul>
      </div>
    </nav>
  </header>
</template>

<script>
import { mapState } from 'vuex'
import MessagesMenu from './MessagesMenu'
import NotificationsMenu from './NotificationsMenu'
import TasksMenu from './TasksMenu'
import UserMenu from './UserMenu'

export default {
  name: 'DashHeader',
  components: {
    MessagesMenu,
    NotificationsMenu,
    TasksMenu,
    UserMenu
  },
  props: ['user'],
  computed: {
    ...mapState([
      'userInfo'
    ])
  }
}
</script>
