<template>
  <ul class="sidebar-menu">
    <li class="header">TOOLS</li>

    <router-link v-if="!checkAdmin" tag="li" class="pageLink" to="/thingsboardmoniter">
      <a>
        <i class="fa fa-desktop"></i>
        <span class="page"> Thingsboard</span>
      </a>
    </router-link>


    <li v-if="checkAdmin" class="treeview">
      <a href="#">
        <i class="fa fa-tachometer"></i>
        <span class="treeview-title">Thingsboard</span>
        <span class="pull-right-container pull-right">
          <i class="fa fa-angle-left fa-fw"></i>
        </span>
      </a>
      
      <ul class="treeview-menu">
        <li>
          <router-link tag="li" class="Link-router" to="/thingsboardmoniter">
            <a href="#">
              <i class="fa fa-desktop" style = "padding-right: 10px;padding-bottom: 10px;"></i> Monitor
            </a>
          </router-link>
        </li>
        <li>
          <router-link tag="li" class="Link-router" to="/thingsboardedit">
            <a href="#">
              <i class="fa fa-pencil-square-o" style = "padding-right: 10px;padding-bottom: 10px;"></i> Edit Thingsboard
            </a>
          </router-link>
        </li>
        <li>
          <router-link  tag="li" class="Link-router" to="/addDevice">
            <a href="#">
              <i class="fa fa-pencil" style = "padding-right: 10px;padding-bottom: 10px;"></i> Add Device
            </a>
          </router-link>
        </li>
      </ul>
    </li>
    <router-link tag="li" class="pageLink" to="/EMQ">
      <a>
        <i class="fa fa-circle-o text-yellow"></i>
        <span class="page"> EMQ</span>
      </a>
    </router-link>

    <router-link v-if="checkAdmin" tag="li" class="pageLink" to="/Register">
      <a>
        <i class="fa fa-circle-o text-green"></i>
        <span class="page"> Manage User</span>
      </a>
    </router-link>

    <li class="header">Logout</li>
    <router-link tag="li" class="pageLink" to="/login">
      <a>
        <i class="fa fa-sign-out text-red"></i>
        <span class="page"> Logout</span>
      </a>
    </router-link>
  </ul>
</template>
<script>
export default {
  name: 'SidebarMenu',
  computed: {
    checkAdmin () {
      return window.localStorage.getItem('type') === 'admin'
    }
  }
}
</script>
<style>
/* override default */
.sidebar-menu > li > a {
  padding: 12px 15px 12px 15px;
}

.sidebar-menu li.active > a > .fa-angle-left,
.sidebar-menu li.active > a > .pull-right-container > .fa-angle-left {
  animation-name: rotate;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

.treeview-title {
  z-index: 1;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-90deg);
  }
}
</style>

<style>
  .Link-router{
    padding-left:20px;
    padding-top:10px;
  }
  .Link-router:hover{
    background-color: #5c6062;
  }
</style>
