<template>
  <section class="content">
        <iframe :src="urlLink" width="100%" height="1000px" style="border: solid 1px #30567f;"></iframe>
  </section>
</template>

<script>

export default {
  name: 'Monitor',
  components: {
  },
  data () {
    return {
      urlLink: 'http://iotdma.info:18083/#/'
    }
  },
  computed: {
  },
  mounted () {
  }
}
</script>
<style>
  .info-box {
    cursor: pointer;
  }
  .info-box-content {
    text-align: center;
    vertical-align: middle;
    display: inherit;
  }
  .fullCanvas {
    width: 100%;
  }
  .select-content-sidemenu{
    height: 50px;
    font-size: 24px;
    text-align: center;
    
  }
  .label-content-sidemenu{
    height: 20px;
    /* font-size: 20px; */
    text-align: center;
  }
</style>
