<template>
  <div id="login">
    <img src="/static/img/logo.png" class="center-block logo">
    <!-- <center ><small>{{ "call from tag" | DateAndTime }}</small></center>
    <center ><small>{{ call_from_fn }}</small></center> -->
    <div class="text-center col-sm-12">
      <!-- login form -->
      <form @submit.prevent="checkCreds">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user-circle-o"></i></span>
          <input class="form-control" name="username" placeholder="Username" type="text" v-model="username">
        </div>

        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input class="form-control" name="password" placeholder="Password" type="password" v-model="password">
        </div>
        <div class="input-group">
          <button type="submit" :disabled="this.username === '' || this.password === ''" v-bind:class="'vertical-2p btn btn-default btn-lg form-control ' + loading"><i class="fa fa-sign-in"></i>  Login</button>
        </div>
      </form>
      <!-- errors -->
      <!-- <div v-if=response class="text-red font-login-"><p class="vertical-5p lead">{{response}}</p></div> -->
      <div v-if=response class="text-red font-login-"><p class="vertical-5p lead-26">{{response}}</p></div>
    </div>
  </div>
</template>

<script>

import ApiAuth from '@/apis/Login/Authentication'

export default {
  name: 'Login',
  data(router) {
    return {
      section: 'Login',
      loading: '',
      username: '',
      password: '',
      response: '',
      call_from_fn: ''
    }
  },
  beforeMount () {
    this.deleteLocalStorage()
    console.log(this.$options.filters.DateAndTime('function'))
    console.log(this.$options)
    this.call_from_fn = this.$options.filters.DateAndTime('function')
  },
  methods: {
    deleteLocalStorage () {
      console.log('computed')
      if (window.localStorage) {
        window.localStorage.removeItem('user')
        window.localStorage.removeItem('token')
        window.localStorage.removeItem('type')
        window.localStorage.removeItem('email')
      }
      this.$store.commit('SET_TOKEN', null)
      this.$store.commit('SET_USER', null)
      this.$store.commit('SET_TYPE', null)
      this.$store.commit('SET_EMAIL', null)
    },
    async checkCreds () {
      this.toggleLoading()
      this.resetResponse()
      this.$store.commit('TOGGLE_LOADING')
      try {
        const response = await ApiAuth.Authen({
          user: {
            username: this.username,
            password: this.password
          }
        })
        var data = response.data.user
        console.log(data)
        if (data.data === 1) {
          this.$store.commit('TOGGLE_LOADING')
          var token = 'Bearer ' + data.auth.token
          if (window.localStorage) {
            window.localStorage.setItem('token', token)
            window.localStorage.setItem('user', data.auth.username)
            window.localStorage.setItem('type', data.auth.type)
            window.localStorage.setItem('email', data.auth.email)
          }
          this.$store.commit('SET_TOKEN', token)
          this.$store.commit('SET_USER', data.auth.username)
          this.$store.commit('SET_TYPE', data.auth.type)
          this.$store.commit('SET_EMAIL', data.auth.email)
          console.log('==================== get state ====================')
          console.log(this.$store.state.token)
          console.log('==================== local storage ================')
          console.log(window.localStorage.getItem('token'))
          console.log('===================================================')
          // goto thingsboard
          this.$router.push('/')
        } else {
          this.response = 'Username and Password invalid.'
        }
      } catch (error) {
        alert(error)
      }
    },
    toggleLoading() {
      this.loading = this.loading === '' ? 'loading' : ''
    },
    resetResponse() {
      this.response = ''
    }
  }
}
</script>

<style>
#login {
  padding: 5em;
}

html,
body,
.container-table {
  height: 100%;
  background-color: #176a99 !important;
  /* opacity: 0.9; */
}
.container-table {
  display: table;
  color: white;
}
.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}
.vertical-20p {
  padding-top: 20%;
}
.vertical-10p {
  padding-top: 10%;
}
.vertical-5p {
  padding-top: 5%;
}
.vertical-4p {
  padding: 4%;
}
.vertical-3p {
  padding: 3%;
}
.vertical-2p {
  padding: 2%;
  padding-bottom: 4%;
}
.vertical-1p {
  padding: 1%;
}
.logo {
  width: 18em;
  padding: 2em;
}

.input-group {
  padding-bottom: 1em;
  height: 4em;
  width: 100%;
}

.input-group span.input-group-addon {
  width: 2em;
  height: 4em;
}

@media (max-width: 1241px) {
  .input-group input {
    height: 4em;
  }
}
@media (min-width: 1242px) {
  form {
    padding-left: 20em;
    padding-right: 20em;
  }

  .input-group input {
    font-size: 2em;
    height: 2em;
  }
}

.lead-26 {
  font-size: 26px;
}

.input-group-addon i {
  height: 15px;
  width: 15px;
}
</style>
