<template>
  <section id = "header-route" class="content">
    
    <div class="row">
      <div class='col-md-12'>
        <iframe :src="urlLink" width="100%" height="1000px" style="border: solid 1px #30567f;"></iframe>
      </div>
    </div>
    
  </section>
</template>

<script>

export default {
  name: 'Editer',
  components: {
  },
  data () {
    return {
      urlLink: 'http://localhost:4200/editor',
      isAddDevice: false
    }
  },
  computed: {
  },
  mounted() {
  },
  methods: {
  }
}
</script>
<style>
  .info-box {
    cursor: pointer;
  }
  .info-box-content {
    text-align: center;
    vertical-align: middle;
    display: inherit;
  }
  .fullCanvas {
    width: 100%;
  }
  .select-content-sidemenu{
    height: 50px;
    font-size: 24px;
    text-align: center;
  }
  .label-content-sidemenu{
    height: 20px;
    /* font-size: 20px; */
    text-align: center;
  }
  .box-info{
    border-color: #166a99 !important;
  }
  .border-insert-device{
    margin-top: 30px;
    border: solid 2px #166a99;
    border-radius: 4px;
  }
</style>
